.screen > div:nth-of-type(2) {
  grid-template-columns: minmax(0, 1fr) 390px;
}

.aside > section:first-child {
  min-height: 299px;
}

.aside > section:first-child dl > div {
  padding-block: 20px;
}

.aside > section:nth-child(2) {
  min-height: 389px;
}

.screen textarea {
  min-height: 86px;
  height: 86px;
}
